.post {
  flex: 2 !important;
  margin-top: 2.5rem;
  display: flex;

  .wrapperPost {
    flex: 2 !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;

    .catTitle {
      font-size: 13px;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .postMainTitle {
      display: inline-block;
      width: 90%;
      margin-top: 0.6rem;
      font-size: 1.6em;
      text-transform: uppercase;
      color: darkgoldenrod;
      cursor: pointer;
      text-align: center;
    }

    .dateMainTitle {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 2px;
      margin-top: 0.5em;
    }

    .borderImg {
      width: 100%;
      display: block;
      text-align: center;
      .postMainImg {
        width: 90%;
        max-height: 400px;
        margin-top: 1em;
        cursor: pointer;
        object-fit: cover;
      }
    }

    .postDesc {
      width: 90%;
      font-size: 13px;
      color: #333;
      line-height: 24px;
      margin-bottom: 2em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4 !important;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical !important;
      text-overflow: ellipsis;
      max-height: 7.2em;
    }

    .postDetailInfo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .postLinks {
        display: flex;
        width: 90%;
        justify-content: space-between;
        position: relative;
        align-items: center;

        .socialList {
          list-style: none;
          display: flex;
          padding: 0;
          align-items: center;

          .icon {
            font-size: 16px;
            margin-right: 5px;
            cursor: pointer;
          }
        }

        .line {
          display: inline-block;
          border: 1px solid lightgrey;
          height: 0;
          width: 80%;
        }

        .continuePostBtn {
          white-space: nowrap;
          border: 1px solid lightgrey;
          align-self: flex-end;
          padding: 10px 10px;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          color: darkgoldenrod;
          background-color: white;

          &:hover {
            background-color: darkgoldenrod;
            color: white;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .post {
    .postMainTitle {
      font-size: 1.1em !important;
    }

    .postMainImg {
      max-height: 200px !important;
    }

    .catTitle {
      font-size: 11px !important;
    }

    .dateMainTitle {
      font-size: 10px !important;
    }

    .continuePostBtn {
      font-size: 0.6em !important;
    }
  }
}
